.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 40px !important;
  border-radius: 5px;
  width: 100%;
  max-width: 500px !important;
  position: relative;
}



.r_title p {
  font-size: 23px;
  font-weight: 500;
  color: #000;
  margin-bottom: 25px;
  text-align: center;
}

.close-button {
  background: none;
  border: none;
  font-size: 24px;
  color: #666;
  cursor: pointer;
  padding: 0;
  line-height: 1;
}

.password-input-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}

.password-field {
  position: relative;
  width: 100%;
}

.password-field input {
  width: 100%;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  font-size: 14px;
  background-color: #f8f9fa;
  padding-right: 40px;
}

.password-field input:focus {
  outline: none;
  border-color: #000;
}

.toggle-password {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #666;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
}

.error-message {
  color: #dc3545;
  font-size: 12px;
  /* margin-top: -8px; */
  margin-bottom: 16px;
}

.change-password-button {
  width: 100%;
  padding: 12px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-bottom: 20px;
}

.change-password-button:hover {
  background-color: #1a1a1a;
} 

.r_text{
  font-size: 15px;
  text-align: left;
}

@media screen and (max-width: 425px) {
  .modal-content {
    padding: 20px !important;
  }
  .modal-content{
    max-width: 300px !important;
  }
  .profile-card{
    margin-left: 0px !important;
  }
  
}