.chart-col {
    min-height: 180px;
  }    
  .r_padding {
    padding: 3.2rem;
    margin-left: 10px;
  }
  .card{
    border-radius: 8px !important;
  }
  @media screen and (max-width: 768px) {
    .r_padding {
      margin-left: 0;
    }
  }
  /* @media screen and (max-width:425px) {
   .r_padding{
    padding: 10px !important;
   } 
  } */
 